/* Light mode (default) */
body {
  text-align: center;
  background-color: #ffffff; /*white*/
  color: #000000; /*black*/
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Button Styles */
.button {
  background-color: #003594;
  border: #FFFFFF; /*white*/
  color: #FFD100; /*yellow*/
  padding: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 8px 4px;
  cursor: pointer;
}

/* Add a white background color to the top navigation */
.topnav {
  background-color: #FFFFFF; /*white*/
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  /*justify-content: space-between;*/
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  margin-right: 10px;
}

.topnav:second-of-type{
  position: sticky;
  top: 0;
  z-index: 15;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000; /*black*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D8D3CC; /*gray*/
  color: #000000; /*black*/
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #003594; /*blue*/
  color: #FFD100; /*yellow*/
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #000000; /*black*/
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.topnav .dropbtn.active {
  background-color: #003594; /*blue*/
  color: #FFD100; /*yellow*/
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF; /*white*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #000000; /*black*/
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #D8D3CC; /*gray*/
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #D8D3CC; /*gray*/
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

.header-img {
  width: auto;
  height: auto;
  max-height: 300px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  //object-fit: cover;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  color: #000;
  margin-top: 10px;
  z-index: 1
}

thead th {
  position: sticky;
  top: 100px;
  background: #eee;
  /*transform: translateZ(0);*/
  z-index: 5;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ccc;
  text-align: left;
}

/* Sticky first column */
tbody td:nth-child(1){
  position: sticky;
  left: 0;
  background: #eee;
  z-index: 2;
}

/* Sticky second column */
tbody td:nth-child(2){
  position: sticky;
  left: 60px;   /* width of first column */
  background: #eee;
  z-index: 2;
}

a {
  color: #FFD100;
}

/* === Mobile Overrides ===*/
@media (max-width: 768px) {
  .topnav {
    width: 100vw;
  }
}

/* === Dark Mode Overrides === */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000; /*black*/
    color: #ffffff; /*white*/
  }
  
/* Button Styles */
.button {
  background-color: #003594; /*blue*/
  border: #FFFFFF; /*white*/
  color: #FFD100; /*yellow*/
  padding: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 8px 4px;
  cursor: pointer;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000; /*black*/
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  /*justify-content: space-between;*/
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff; /*white*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D8D3CC; /*gray*/
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #003594; /*blue*/
  color: #FFD100; /*yellow*/
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.topnav .dropbtn.active {
  background-color: #003594; /*blue*/
  color: #FFD100; /*yellow*/
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF; /*white*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #000000; /*black*/
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #D8D3CC; /*gray*/
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #D8D3CC; /*gray*/
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

  table {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }

  thead {
    background-color: #2c2c2c
  }

  thead th {
    background: #2c2c2c;
    color: #f1f1f1;
    z-index: 5
  }

  th, td {
    border: 1px solid #444;
  }

  th {
    background-color: #2c2c2c;
  }

/* Sticky first column */
tbody td:nth-child(1){
  position: sticky;
  left: 0;
  background: #2c2c2c;
  z-index: 2;
}

/* Sticky second column */
tbody td:nth-child(2){
  position: sticky;
  left: 60px;   /* width of first column */
  background: #2c2c2c;
  z-index: 2;
}
  
  a {
    color: #FFD100;
  }
}

