/* Link styles */
a:link {
  color: #FFD100;
}

a:visited {
  color: #003594;
}

/* Constant Dark mode (default) */
body {
  text-align: center;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

    .header-img {
      width: auto;
      height: auto;
      max-height: 300px;
      max-width: 100%;
      display: block;
      margin: 0 auto;
      //object-fit: cover;
    }
    .link-icon {
      display: inline-block;
      margin: 20px;
      text-align: center;
    }
    .link-icon img {
      width: 100px;
      height: 100px;
    }
    .link-icon a {
      text-decoration: none;
      display: block;
      color: #FFD100;
      font-size: 18px;
      margin-top: 10px;
    }

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  background: black;
  z-index: 2;
}

th, td {
  padding: 8px 12px;
  border: 1px solid white;
  text-align: left;
}


